@page "/orders"
@inject EntSelService SelectService
<h3>Orders</h3>
@if (itms == null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="orders">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DocNum</th>
                <th>Date</th>
                <th>Entity</th>
                <th>Item</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order o in orders)
            {
                <tr>
                    <td>@o.Id</td>
                    <td><InputText @bind-Value="o.DocNum" /></td>
                    <td><InputDate @bind-Value="o.Date" @bind-Value:format="MM yyyy dd" /></td>
                    <td>
                        <InputSelectNumber @bind-Value="o.EntId">
                            <Virtualize Items="@ents" Context="ent">
                                <option>@ent.Name</option>
                            </Virtualize>
                        </InputSelectNumber>
                    </td>
                    <td>@o.ItmId</td>
                    <td>@o.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>
}

@code {
    private List<EntSel> ents;
    private List<EntSel> itms;
    private List<Order> orders;
    protected override async Task OnInitializedAsync()
    {
        ents = await SelectService.GetEntsAsync();
        itms = await SelectService.GetItmsAsync();
        orders = SelectService.GetOrders();
    }
}
